.header-main {
    padding: 3em 3em;
    color: white;
}
.main-nav {
    height: 57px;
}
.main-nav li a {
    color: white!important;
    border-color: white;
    line-height: 57px;
}
.nav-box,
.main-nav {
    overflow: visible;
}
.preview-img {
    height: 192px;
    width: 192px;
}
.flex-container {
    display: flex;
}
.flex-child.flex-sm {
    flex: 1;
}
.flex-child.flex-lg {
    flex: 5;
}
#toast-container {
    max-width: 100%!important;
}
.auth-btn {
    position: relative;
    top: 4px;
}
.pull-right {
    float: right!important;
}
.visible-allways {
    display: block!important;
}